header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px #cccccc;
  border-bottom: 1px solid #cccccc;
  background-image: url("../images/Hbnb_logo.png");
  background-size: 10% auto;
  background-repeat: no-repeat;
  background-position: left center;
}
